@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

:root{
    --dark-blue: hsl(260, 8%, 14%);
    --dark-blue-reviews: hsl(217, 28%, 15%);
    --dark-blue-testimonial: hsl(219, 30%, 18%);
    --cyan: hsl(180, 66%, 49%);
    --white: white;
    --manate : hsl(218, 17%, 62%);
    --languid-lavender: hsl(275, 18%, 79%);
    --pale-pink: hsl(351, 47%, 88%);
    --pale-purple-pantone:hsl(312, 91%, 96%);
    --lavander-web:hsl(233, 100%, 94%);
    --peacook-blue: hsl(195, 83%, 38%);

}
/*Nav*/
.Name{
    font-size: 1.8rem;
    font-weight: bold;
}

.boxSec{
    margin: 20px 0;
}

.boxSec h4{
    font-size: 20px;
    font-weight: bold;
}

.boxSec a:hover{
    color: #f00;
    text-decoration: none;

}

/*aboutMe*/
.AboutMe{
    padding: 130px 30px 30px;
}

.infoYo{
    color: white;
    font-size: 27px;
    border-radius: 5%;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    background: #023e8a;
    height: auto;
    overflow: hidden;
}

.boxHeader{
    height: 250px;
    width: 100%;
    background: var(--lavander-web) url(./Images/geek.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.boxContent{
    width: 100%;
    height: 250px;
}

.fotoYo{
    width:200px;
    height:200px;
    border-radius:200px;
    object-fit: cover;
    border: var(--white) solid 5px;
    margin-bottom: 20px;
    position: relative;
    top: -100px;
}

.boxInfo{
    padding: 15px;
    position: relative;
    top: -100px;
}

/*Experiencia Laboral*/
.expLab{
    padding: 100px 30px;
    background-color: #023047;
}

.boxExpLab{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    color: white;
}

.boxExpLab ul{
    margin: 20px 0;

}

.expLab h2{
    text-align: center;
    font-size: 1.8rem;
    color: #48cae4;
}

.expLab img{
    width: 60%;
    height: 60%;
    align-items: center;
    padding-top: 20px;
}

.boton{
    background-color: #ffb703;
    border-radius: 20px;
    transition: all ease .30s;

}

.boton:hover{
    transform: scale(1.2);
}

/*Conocimientos*/
.conocimiento{
    display: flex;
    flex-direction: column;
    padding: 60px 30px;
}

.conocimiento h2{
    text-align: center;
    margin: 20px 0;
    font-size: 1.8rem;
}

.conocimiento h2 span{
    color: #48cae4;   
}

.conocimiento .boxContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 200px;
}

.conocimiento .boxImg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conocimiento .boxImg img{
   width: 70%;
   
}

.conocimientoAdic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 30px;
    text-align: center;
}

.conocimientoAdic img{
    height: 70%;
    width: 70%;
}

.conocimientoAdic h3{
    color: #48cae4;   
}

.conocimientoAdic p{
    font-weight: bold;
}

/*Footer*/
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .boxAbout{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .boxAbout .sec{
    margin-right: 30px;
}

footer .boxAbout .sec.aboutMe{
    width: 40%;
}

footer .boxAbout h2{
    position: relative;
    color: wheat;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .boxAbout span{
    color: #f00;
    font-weight: bold;
}

footer .boxAbout h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}

footer p{
    color: #999;
}

.sci{
    margin-top: 20px;
    display: flex;
}
.sci img{
    width:40px;
}

.sci li{
    list-style: none;
}

.sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
    color: #fff;/*este color se debe cambiar cuando se tengan iconos*/
}

.sci li a:hover{
    background: #f00;
}

.quickLinks{
    position: relative;
    width: 25%;
}

.quickLinks ul li a{
    list-style: none;
}

.quickLinks ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quickLinks ul li a:hover{
    color: #fff;
}

.Contacto{
    width: calc(35% - 60px); /*Operacion para calclar el ancho de las 3 columnas(QuickLinks-.container .sec)*/
    margin-right: 0 !important;
}

.Contacto .info{
    position: relative;
}

.Contacto .info li{
    display: flex;
    margin-bottom: 16px;
}

.Contacto .info li span:nth-child(1){
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.Contacto .info li span{
    color: #999;
}

.Contacto .info li a{
    color: #999;
    text-decoration: none;
}

.Contacto .info li a:hover{
    color: #fff;
}

.copyrigthText{
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999;
}